@import 'sass/utils/_variables';

.filter-dropdown {
  .dropdown-toggle {
    padding: 3px;
    border: 1px solid transparent;
    &::after {
      display: none !important;
    }
    svg {
      width: 16px !important;
      height: 16px !important;
      path {
        fill: $color-gray-50;
      }
    }
    span {
      font-family: Barlow;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.14;
      letter-spacing: 1.25px;
      color: $color-gray-50;
      margin-left: 10px;
    }
  }
  .dropdown-menu {
    width: 150px;
    background: $color-gray;
    margin-top: 18px;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.5);
    &__item {
      position: relative;
      width: 100%;
      padding: 14px 16px 13px;
      border-bottom: solid 1px var(--main-border-color);
      cursor: pointer;

      &:last-child {
        border-bottom: 0px;
      }
      &-name {
        font-family: Barlow;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        color: $color-gray-60;
      }
    }
  }
}
