@import 'sass/utils/_variables';

.custom-number-input {
  position: relative;
  margin-right: 10px;

  label {
    font-size: 11px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    color: $color-gray-30;
    margin-bottom: 5px;
  }
  // text
  .fake-input {
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    right: 0;
    padding: 3px;
    border-radius: 5px;
    background: transparent;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color-gray-60;
  }
  .real-input {
    background-color: $color-gray;
    border-radius: 5px;
    border: solid 1px transparent;
    padding: 11px 16px;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    // color: $color-gray-60;
    color: transparent;
    caret-color: $color-gray-60;

    &:hover,
    &:active,
    &:focus {
      border-color: $color-gray-30;
    }
    &[disabled] {
      border: solid 1px transparent;
      background: transparent;
      padding-left: 0px;
    }
  }
}
