@import 'sass/utils/_variables';

.deals-header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  border-bottom: 1px solid var(--main-border-color);
  // left
  &-left {
    .deals-header__title {
      font-family: Barlow;
      font-size: 30px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: $color-gray-50;
    }
    .deals-header__deals-cnt {
      margin-left: 10px;
      font-family: Barlow;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.29;
      letter-spacing: normal;
      color: $color-gray-30;
      span {
        margin-top: 10px;
      }
    }
  }
  // right
  &-right {
    .search-input-container {
      height: 100%;
      width: 340px;
      margin-right: 20px;
    }
  }
}

.deals-content {
  padding: 10px 0px;
  min-width: 905px;
  .filters-container {
    .filter-btn-wrapper {
      margin-right: 10px;
      button {
        width: 82px;
        font-family: Barlow;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        color: $color-gray-60;
      }
    }
  }
  .deals-table-container {
    margin-top: 19px;
  }
}
