@import 'sass/utils/_variables';

.notification-dropdown {
  position: relative !important;
  &-toggle {
    cursor: pointer;
    svg {
      width: 24px !important;
    }
    &::after {
      display: none !important;
    }
  }
  &-menu {
    position: absolute;
    right: -51px;
    width: 329px;
    border-radius: 8px;
    background: $color-gray-10;
    margin-top: 18px;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.5);
    &::before {
      position: absolute;
      top: -16px;
      margin-left: 253px;
      content: '';
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 16px solid $color-gray;
    }
    &-header {
      padding: 26px 20px;
      background-color: $color-gray;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      &__title {
        font-family: Barlow;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: $color-gray-60;
      }
      &__description {
        font-family: Barlow;
        font-size: 11px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.45;
        letter-spacing: normal;
        color: $color-gray-30;
      }
    }
    &-content {
      max-height: 291px;
      overflow-y: auto;
    }
    &__item {
      position: relative;
      width: 100%;
      height: 64px;
      padding: 14px 16px 13px;
      border-bottom: solid 1px var(--main-border-color);
      cursor: pointer;
      &:last-child {
        border-bottom: 0px;
      }
      .notification-avatar {
      }
      .notification-content {
        margin-left: 8px;
        max-width: 208px;
        overflow: hidden;
        &__text {
          font-family: Barlow;
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.29;
          letter-spacing: normal;
          color: $color-gray-60;
        }
        &__time {
          margin-top: 3px;
          font-family: Barlow;
          font-size: 11px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.45;
          letter-spacing: normal;
          color: $color-gray-30;
        }
      }
      .notification-icon {
        position: absolute;
        right: 10px;
        height: 36px;
        svg {
          path {
            fill: $color-gray-60;
          }
        }
      }
    }
  }
}
